@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  color-scheme: dark;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-700;
  }
  .chats ::-webkit-scrollbar {
    width: 5px;
  }

  .chats ::-webkit-scrollbar-thumb {
    @apply bg-gray-700;
  }
}
